In [1]:
# -*- conding: utf-8 -*-
# List to Series

import pandas as pd # pandas를 불러온다. pandas를 줄여서 pd라고 하겠당

In [2]:
#리스트에서 시리즈로 변환할때 딕셔너리 키 처럼 인덱스로 변환될 값이 없다.
#따라서 별도로 입력을 안하면 디폴트로 정수형 위치 인덱스가 자동으로 지정 된다.

In [3]:

list_data = ['2021-03-07', 7272, 'ABC', 5.12, True]
sr = pd.Series(list_data)
print(sr)

0    2021-03-07
1          7272
2           ABC
3          5.12
4          True
dtype: object

In [4]:
idx = sr.index
val = sr.values
print(idx)
print(val)

RangeIndex(start=0, stop=5, step=1)
['2021-03-07' 7272 'ABC' 5.12 True]

In [13]:
# 원소 선택
#원소의 위치를 나타내는 주소 인덱스를 이용하여  시리즈의 원소를 선택한다
#인덱스의 두가지 유형의 따라 사용법이 다르다
# 정수형 위치 인덱스는 [] 위치를 나타내는 숫자를 입력
# 인덱스 이름을을 사용할 떄는 [] 안에 '' 나 ""  따옴표를 사용 하여 입력

In [17]:
#정수형 위치 인덱스
list_data = ['2021-03-07', 7272, 'ABC', 5.12, True]
sr = pd.Series(list_data)
print(sr)

0    2021-03-07
1          7272
2           ABC
3          5.12
4          True
dtype: object

In [18]:
print(sr[0])

2021-03-07

In [19]:
print(sr[0:3])

0    2021-03-07
1          7272
2           ABC
dtype: object

In [20]:
print(sr[[0,3]])

0    2021-03-07
3          5.12
dtype: object

In [21]:
#인덱스 이름
list_data = ['YJ', '1995-11-09', '남', False]
sr = pd.Series(list_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)

이름              YJ
생년월일    1995-11-09
성별               남
학생여부         False
dtype: object

In [22]:
print(sr['이름']) # 이름 라벨을 가진 원소 선택
print(sr[0]) # 첫번째 원소를 선택

YJ
YJ

In [10]:
print(sr['이름':'성별']) #이름 부터 성별 까지 원소 선택

이름              YJ
생년월일    1995-11-09
성별               남
dtype: object

In [11]:
print(sr[["이름", "성별"]]) # 이름과 성별 라벨 가진 원소 선택

이름    YJ
성별     남
dtype: object